@import url("https://fonts.googleapis.com/css2?family=Bangers&family=DynaPuff:wght@400;500;600;700&family=Quicksand&display=swap");

h1 {
  font-family: "DynaPuff";
  color: white;
  font-size: 100;
}

h2 {
  font-family: "DynaPuff";
  color: white;
  font-size: 100;
}

p {
  font-family: "DynaPuff";
  color: white;
  font-size: 100;
}

footer {
  font-family: "DynaPuff";
  color: white;
  font-size: 100;
  text-align: center;
}

body {
  background-color: black;
  margin: 20px;
  background-image: url(img/sort_baggrund.png);
}

/*layout på forside*/
@media (min-width: 800px) {
  .video_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px;
    margin-left: 20px;
    gap: 20px;
    padding-bottom: 10%;
    position: center;
  }

  .video_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .video_col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

video {
  width: 100%;
  height: auto;
  display: block;
}

img {
  max-width: 142%;
  height: auto;
  display: block;
  margin-left: 33%;
  margin-right: 33%;
}

.tekst_container {
  position: absolute;
  text-align: center;
  color: white; /* Tekstfarve */
}

.medvirkende {
  text-align: center;
  padding-top: 2%;
}

.optagelse {
  text-align: center;
  padding-top: 10%;
}
